* {
  box-sizing: border-box;
}

h1 {
  color: teal;
  text-align: center;
}

.criteria {
  float: left;
  width: 45%;
  background-color: lightseagreen;
  padding: 40px 40px;
  margin: 10px 10px;
  
}

.services {
  float: right;
  width: 45%;
  background-color: lightseagreen;
  padding: 40px 40px;
  margin: 10px 10px;
}